<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>


<div class="form">
    <div class="blok">
      <h1 class="title">Add New User</h1>


      <input id="myLogin" class="input" type="text" name="login" placeholder="Login" />
      <input id="myPassword" class="input" type="password" name="Password" placeholder="Password"/>
      <input id="myEmail" class="input" type="text" name="email"  placeholder="E-mail"/>
      <input id="location" class="input" type="text" name="location" placeholder="Location"/>

        <button type="submit" class="button" onclick="aper()">Add</button>
    </div>

  </div>

  <table>
    <tr class="titles">
        <td>Name</td>
        <td>Password</td>
        <td>E-mail</td>
        <td>Location</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
     <% obj.forEach(function(justOne) { %>
    <tr>
        <td><%= justOne.login %></td>
        <td><%= justOne.Password %></td>
        <td><%= justOne.email %></td>
        <td><%= justOne.location   %></td>
        <td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
        <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
    </tr>
<% }); %>
</table>


    <script src="script.js"></script>
  </body>
</html>
